.secondary-btn {
  background-color: transparent;
  color: var(--secondary);
  outline: var(--secondary) solid 2px;
  width: fit-content;
  margin: 1.5em auto;
  float: right;

  &:hover {
    background-color: var(--secondary);
    color: var(--on-secondary);
  }
}

.danger-btn {
  background-color: transparent;
  color: var(--red);
  outline: var(--red) solid 2px;
  width: fit-content;
  margin: 1.5em auto;
  float: left;
  &:hover {
    background-color: var(--red);
    color: var(--white);
  }
}
