<mat-form-field appearance="outline">
  <mat-label *ngIf="data.label">{{ data.label | translate }}</mat-label>
  <input
    appAccessibilityEscapedInput
    autofocus
    matInput
    [type]="hidden ? 'password' : 'text'"
    [placeholder]="data.placeholder | translate"
    [formControl]="data.control" />
  <button
    *ngIf="initialHidden"
    mat-icon-button
    matSuffix
    (click)="hidden = !hidden"
    [attr.aria-pressed]="hidden">
    <mat-icon>{{ hidden ? "visibility_off" : "visibility" }}</mat-icon>
  </button>
  <mat-hint *ngIf="data.hint && !data.control.invalid">
    {{ data.hint | translate }}
  </mat-hint>
  <mat-error *ngIf="data.control.invalid">
    <ng-container *ngIf="data.errorStates | keyvalue as errors">
      <mat-error *ngIf="errors.length">
        {{ errors[0].value | translate }}
      </mat-error>
    </ng-container>
  </mat-error>
</mat-form-field>
