.mat-raised-button {
  background-color: var(--primary);
  color: var(--on-primary);
}

.mat-stroked-button {
  color: var(--on-surface);
}



.info{
  margin-top: -20px;
}

.info-icon{
  font-size: 24px;
  color: var(--on-surface);

  &:hover {
    outline: var(--primary) solid 2px;
    border-radius: 15px;
    padding: 5px;
  }
}

.container{
  width:100%;
  height:100%;
  position:relative;
  left:0px;
  top:0px;
}

.content_container{
  width:100%;
  height:calc( 100% - 50px );
  float:left;
}

.scroll_container{
  width:100%;
  height:100%;
  overflow-y:auto;
}

.inner_scroll_container{
  width:100%;
  margin-top:15px;
  float:left;
}

.button_container{
  width:100%;
  height:50px;
  float:left;
}

/*h1 {
  display:inline;
  margin: 0; material design reset
}*/
.header-container {
  display: flex;
  align-items: center;
  //margin-bottom: 20px; __<<ngThemingMigrationEscapedComment1>>__
}

.header-container button {
  margin-left: .3rem;
}

.mat-dialog-title {
  outline: none;
  font-size: 20px !important;
  font-weight: bold;
}
